---
import Picture from 'astro/components/Picture.astro';
import { cx } from '../utils/classnames';
import { Image } from 'astro:assets';

export type CardProps = {
	ImageURL: ImageMetadata;
	Title: string;
	Alt: string;
	CardClass?: string;
	ImageClass: string;
};

const {
	ImageURL,
	Title,
	Alt,
	CardClass = '',
	ImageClass,
}: CardProps = Astro.props as CardProps;
---

<div class=`${cx(' rounded-lg p-6 flex flex-col ',CardClass)}`>
	<Picture
		src={ImageURL}
		alt={Alt}
		loading='lazy'
		class=`${cx(ImageClass,'ml-auto ')}`
	/>
	<h2 class='text-pale-cream text-left text-heading-1-5'>{Title}</h2>
</div>

<!-- class=`${cx(
    ButtonTypes[type],
	ButtonSizes[size],
        'w-56 h-12 text-button-s rounded-full',
    )}` -->
